<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtu.admin.mapper.AdminMapper">
<select id="findAdminByName"
        parameterType="java.lang.String"
        resultType="com.hongtu.admin.bean.Admin">
    SELECT * FROM admin WHERE aname=#{value}
</select>
    <select id="findByAdmin"
            parameterType="com.hongtu.admin.bean.Admin"
            resultType="com.hongtu.admin.bean.Admin">
        SELECT * FROM admin WHERE aname=#{aname} AND apwd=#{apwd}
    </select>
    <select id="findAdminById"
            parameterType="java.lang.String"
            resultType="com.hongtu.admin.bean.Admin">
        SELECT * FROM admin WHERE aid=#{aid}
    </select>
    <update id="update"
            parameterType="com.hongtu.admin.bean.Admin">
        UPDATE admin SET apwd=#{newpwd} WHERE aid=#{aid}
    </update>

</mapper>